.single-post{
    padding: 2% 15%;
}
.date-tag{
    display: flex;
    gap:20px;
    align-items: center;
    .date{
        color: gray;
        margin: 0;
    }
    .tag{
        color: gray;
        margin: 0;
        border: solid 0.2px gray;
        /* background-color: rgb(204, 204, 204); */
        padding: 4px 8px;
        border-radius: 12px;
    }
}

.custom-hr{
    border: solid 1px rgb(197, 197, 197);
    margin: 10px 0;
}

.header-section{
    img{
        width: 100%;
        height: 500px;
        object-fit:cover;
    }
    .author-region{
        display: flex;
        align-items: center;
        gap: 20px;
        
        img{
            margin-bottom: 20px;
            margin-top: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
        p{
            margin-bottom: 20px;
            margin-top: 0;
        }

    }
}

.content-section{
    p{
        font-size: large;
    }
}

@media (max-width:1000px){
    .single-post{
        padding: 2% 10%;
    }
    .date-tag{
        gap:20px;
        .date{
            font-size: medium;
        }
        .tag{
            font-size: small;
        }
    }

    .header-section{
        img{
            margin-top: 20px;
            height: 350px;
        }
        .author-region{
            gap:10px;
            img{
                margin-bottom: 5px;
                width: 30px;
                height: 30px;
            }
            p{
                font-size: small;
                margin-bottom: 5px;
            }
        }
    }

    .content-section{
        p{
            font-size: medium;
        }
    }
}

@media (max-width:600px){
    h1{
        font-size: large;
    }
    .date-tag{
        gap:20px;
        .date{
            font-size: small
        }
        .tag{
            font-size: x-small;
        }
    }
    .header-section{
        img{
            height: 200px;
        }
        .author-region{
            img{
                margin: 0;
                width: 20px;
                height: 20px;
            }
            p{
                margin: 0;
                font-size: small;
            }
        }
    }

    .content-section{
        p{
            font-size: small;
        }
    }
}